<section class="contact">
    <div class="container">
        <div class="sec-title">
            <h3><span>^</span>Let's Work Together for The Future 🚀<span>^</span></h3>
            <p>You have a project and you want to implement it, let's communicate together now</p>
        </div>
        <div class="row mt-5" data-aos="fade-up">
            <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
                <a href="mailto:moawadmohamed084@gmail.com" class="my-link email">
                    <img src="images/icons/email.png" alt="icon">
                    moawadmohamed084&#64;gmail.com
                </a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
                <a href="tel:+201062026826" class="my-link mobile">
                    <img src="images/icons/mobile.png" alt="icon">
                    +201062026826
                </a>
            </div>

            <div class="col-12 mt-5">
                <form>
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                    <textarea name="" id="" placeholder="Your Message"></textarea>
                    <button>send message</button>
                </form>
            </div>
        </div>
    </div>
</section>