<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h5>2<span>.M</span></h5>
        </a>
        <ul class="">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">about</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">contact</a>
            </li>
        </ul>
        <div class="button-menu d-lg-none">
            <span>-</span>
            <span>-</span>
            <span>-</span>
        </div>
    </div>
</nav>