<section class="skills">
    <div class="container">
        <div class="sec-title">
            <h3><span>^</span>skills & experience<span>^</span></h3>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-7 col-lg-8">
                <h6 class="head-title mb-3">web & Mobile development</h6>
                <div class="imgs">
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/html.png" alt="image">
                        </div>
                        <span>HTML</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/css.png" alt="image">
                        </div>
                        <span>CSS</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/bootstrap.png" alt="image">
                        </div>
                        <span>Bootstrap</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/tailwind.png" alt="image">
                        </div>
                        <span>Tailwind CSS</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/mui.png" alt="image">
                        </div>
                        <span>Material UI</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/javaScript.png" alt="image">
                        </div>
                        <span>javaScript</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/typeScript.png" alt="image">
                        </div>
                        <span>typeScript</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/react.png" alt="image">
                        </div>
                        <span>react js</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/angular.png" alt="image">
                        </div>
                        <span>angular</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/next.png" alt="image">
                        </div>
                        <span>next js</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/redux.png" alt="image">
                        </div>
                        <span>redux</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/firebase.png" alt="image">
                        </div>
                        <span>firebase</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/strapi.png" alt="image">
                        </div>
                        <span>strapi</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/react-native.svg" alt="image">
                        </div>
                        <span>React Native</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/expo.png" alt="image">
                        </div>
                        <span>expo</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/git.png" alt="image">
                        </div>
                        <span>git</span>
                    </div>
                </div>
                <h6 class="head-title mt-4 mb-3">graphic design</h6>
                <div class="imgs">
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/adobe_photoshop.png" alt="image">
                        </div>
                        <span>adobe photoshop</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/adobe_illustrator.png" alt="image">
                        </div>
                        <span>adobe illustrator</span>
                    </div>
                    <div class="img">
                        <div class="box">
                            <img src="images/icons/lung/adobe_indesign.png" alt="image">
                        </div>
                        <span>adobe indesign</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 mt-5 mt-md-0">
                <ul>
                    <li data-title="Being at Full Stack Web Developer Program provided by NTI to learn State of the art technologies">
                        <h5>2022</h5>
                        <h6>
                            web design
                            <span>National Telecommunication Institute (NTI)</span>
                        </h6>
                    </li>
                    <li data-title="">
                        <h5>2023</h5>
                        <h6>
                            front end developer
                            <span>reflections digital agency</span>
                        </h6>
                    </li>
                    <li data-title="">
                        <h5>2023</h5>
                        <h6>
                            graphic designer
                            <span>mobadret shababena</span>
                        </h6>
                    </li>
                    <li data-title="Being at Full Stack Web Developer Program provided by NTI to learn State of the art technologies">
                        <h5>2024</h5>
                        <h6>
                            full stack MEAN developer
                            <span>National Telecommunication Institute (NTI)</span>
                        </h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
