<section class="exp-years">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="text">
                    <h3>3+ Years of Experience</h3>
                    <p>
                        There are many variations 
                        of passages of Lorem Ipsum available, 
                        but the majority have suffered 
                        alteration in some form, by 
                        injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage Lorem 
                        Ipsum available, but the majority
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-4 mt-md-0">
                <div class="video">
                    <div class="video-banner">
                        <img src="images/post_03.jpg" alt="image">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/></svg>
                        </button>
                    </div>
                    <p>
                        There are many variations of passages of 
                        Lorem Ipsum available, but the majority have 
                        suffered Lorem Ipsum available, but the majority
                    </p>
                    <div class="numbers">
                        <div class="number">
                            <h4>50+</h4>
                            <span>project completed</span>
                        </div>
                        <div class="number">
                            <h4>98%</h4>
                            <span>happy clients</span>
                        </div>
                        <div class="number">
                            <h4>95%</h4>
                            <span>Client Review</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>