<section class="my-learning">
    <div class="container">
        <div class="sec-title">
            <h3><span>^</span>great learning journey<span>^</span></h3>
            <p>I have a wide range of certificates that I have obtained during my educational career...</p>
        </div>
        <div class="row mt-5">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" slides-per-view="3" grid-rows="2"
                space-between="30" >
                <swiper-slide>
                    <img src="images/my-learning/NTI.png" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/maharaTech.png" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/hp.png" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/edrak.png" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/google.png" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/maaraf.jpg" alt="image">
                </swiper-slide>
                <swiper-slide>
                    <img src="images/my-learning/graphic.jpg" alt="image">
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>
