<section class="services">
    <div class="container">
        <div class="sec-title">
            <h3><span>^</span>services<span>^</span></h3>
            <p>
                We put your ideas and thus your 
                wishes in the form of a unique web project 
                that inspires you and you customers.
            </p>
        </div>
        <div class="row mt-5">
            <div  data-aos="fade-up" class="col-12 col-md-12 col-lg-4 d-flex flex-column align-items-center d-lg-block text-center text-lg-start">
                <div class="box">
                    <div class="icon one">
                        <img src="images/icons/download (2).png" alt="icon">
                    </div>
                    <h5><a href="#">web development</a></h5>
                    <p>
                        Quisque placerat vitae lacus ut scelerisque. 
                        Fusce luctus odio ac nibh luctus, 
                        in porttitor theo lacus egestas. voluptatem quia
                    </p>
                </div>
            </div>
            <div  data-aos="fade-up" data-aos-duration="1000" class="col-12 col-md-12 col-lg-4 mt-4 mt-lg-0 d-flex flex-column align-items-center d-lg-block text-center text-lg-start">
                <div class="box">
                    <div class="icon two">
                        <img src="images/icons/download.png" alt="icon">
                    </div>
                    <h5><a href="#">Mobile App</a></h5>
                    <p>
                        Quisque placerat vitae lacus ut scelerisque. 
                        Fusce luctus odio ac nibh luctus, 
                        in porttitor theo lacus egestas. voluptatem quia
                    </p>
                </div>
            </div>
            <div  data-aos="fade-up" data-aos-duration="1500" class="col-12 col-md-12 col-lg-4 mt-4 mt-lg-0 d-flex flex-column align-items-center d-lg-block text-center text-lg-start">
                <div class="box">
                    <div class="icon three">
                        <img src="images/icons/download (1).png" alt="icon">
                    </div>
                    <h5><a href="#">graphic design</a></h5>
                    <p>
                        Quisque placerat vitae lacus ut scelerisque. 
                        Fusce luctus odio ac nibh luctus, 
                        in porttitor theo lacus egestas. voluptatem quia
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>

